body {
    background-color: #A7727D;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.t-header {
    text-align: center;
}

.title {
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 30px;
    background: #D6D3D4;
    height: 400px;
    overflow-y: scroll;
}

.table-head {
    background-color: #f2f2f2;
}

.table th,
.table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.table-body {
    background-color: #fff;
}